.filtro_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.filtro_content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    padding: 30px 15px;
}

.filtro_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.filtro_input-generico{
    width: 940px;
    height: 44px;
    display: flex;
    position: relative;
}

#btnBusca{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}

.filtro_input-generico input{
    width: 100%;
    padding-left: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 16px;
}


.filtro_avancado{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: transparent;
}

.filtro_avancado-texto{
    color: #343434;
    font-size: 16px;
    font-weight: 600;
}

.filtro_avancado-seta{
    width: 16px;
    height: 16px;
    rotate: 0deg;
    transition: all .3s ease-out;
}

.filtro_avancado.active .filtro_avancado-seta{
    rotate: -180deg;
}

.filtro_detalhado{
    width: 940px;
    max-height: 0;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    transition: all .3s ease-out;
}

.filtro_detalhado.active{
    max-height: 44px;
    opacity: 1;
}

.filtro_medico,
.filtro_especialidade,
.filtro_convenio{
    border: 2px solid #000;
    border-radius: 5px;
    height: 44px;
    padding-left: 5px;
    font-size: 16px;
}